<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">
    <!-- <img src="../static/images/instruct-jb-9_flip.png" alt="intructions page 9" width="514" height="384"> -->
    <img src="../static/images/instr_7.png" alt="intructions page 9" width="514" height="384">
      <p>
        Remember, each area has its own unique mineral line.
      </p>
      <p>
        Previous areas you have visited will not tell you anything about the deepest deposits in the current area you are drilling.
      </p>
      <script type="text/javascript">
      //console.log(psiTurk.getInstructionIndicator())
      </script>

  </div>

  <hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
