<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">

    <!-- <img src="../static/images/instruct-jb-3_flip.png" alt="intructions page 3" width="514" height="384"> -->
    <img src="../static/images/instr_3.png" alt="intructions page 3" width="514" height="384">
      <p>
        When you arrive at a new area, you will not know where the deepest mineral deposits are.
      </p>
      <p>
        Instead, you will only see a few SAMPLES (the white circles on the ground) telling how deep the mineral line is at certain locations.
      </p>

  </div>

  <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
