<div id="container-instructions">
  <h1>Instructions</h1>
  <hr>
  <div class="instructions well">
    <!-- <img src="../static/images/instruct-jb-8_flip_sam4.png" alt="intructions page 8" width="514" height="384"> -->
    <img src="../static/images/instr_6.png" alt="intructions page 8" width="514" height="384">
      <p>
        When you are ready, you can click the blue button in the top left corner to move on the the next area, where you will drill in another area.
      </p>
  </div>
  <hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
