<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">

    <!-- <img src="../static/images/instruct-jb-5_flip.png" alt="intructions page 5" width="514" height="384"> -->
    <img src="../static/images/instr_4.png" alt="intructions page 5" width="514" height="384">
        <p>
            In order to drill, you must click on the ground line where you think there is the deepest mineral deposit.
        </p>
        <p>
          In every area, you will drill where you think it is deepest in an attempt to make as much money as possible.
        </p>
        <p>
          Note that it will cost a bit of money to drill, so be sure to choose where to drill wisely!
        </p>

      <script type="text/javascript">
      //console.log(psiTurk.getInstructionIndicator())
      </script>

  </div>

  <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
