<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

    <!-- <img src="../static/images/instruct-jb-2_flip.png" alt="intructions page 2" width="514" height="384"> -->
    <img src="../static/images/instr_2.png" alt="intructions page 2" width="514" height="384">
      <p>
        The deeper into the ground you drill, the rarer the minerals you will find (and the more profit you will earn from them!)
      </p>
      <p>
        <strong>At each drilling area, it will be your goal to try to find the deepest mineral deposit area and drill there.</strong>
      </p>
	</div>

	<hr>

	<div class="instructionsnav">
			<div class="row">
					<div class="col-xs-2">
							<button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
							<span class="glyphicon glyphicon-arrow-left"></span> Previous
							</button>
					</div>
					<div class="col-xs-8">
					</div>
					<div class="col-xs-2">
							<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
							Next <span class="glyphicon glyphicon-arrow-right"></span>
							</button>
					</div>
			</div>
	</div>

</div>
