<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

  	<!-- <img src="../static/images/instruct-jb-1_flip.png" alt="intructions page 1" width="514" height="384"> -->
  	<img src="../static/images/instr_1.png" alt="intructions page 1" width="514" height="384">
    <p>
	    You've landed on an alien planet where you will lead a mining expidition.
    </p>
    <p>
      You will be taken to multiple landscapes where you will be searching for and mining exotic alien minerals.
    </p>
		<p>

	    <script type="text/javascript">
	    	//console.log('THIS HAPPENED 1!');
	    </script>

	</div>

	<hr>

      <div class="instructionsnav">
          <div class="row">
              <div class="col-xs-2">
                <!-- no previous button on first screen -->
              </div>
              <div class="col-xs-8">
              </div>
              <div class="col-xs-2">
                  <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                  Next <span class="glyphicon glyphicon-arrow-right"></span>
                  </button>
              </div>
          </div>
      </div>

  </div>
