<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">

    <!-- <img src="../static/images/instruct-jb-7_flip_sam4.png" alt="intructions page 7" width="514" height="384"> -->
    <img src="../static/images/instr_5.png" alt="intructions page 7" width="514" height="384">
      <p>
        After you drill, a red marker will show you how deep you drilled in this area.
      </p>
      <p>
        The mineral deposit line will appear as well, showing you how deep the minerals were in this area.
      </p>
      <p>
        A message will also appear showing you how much you earned from drilling in this area, after deducting drilling costs.
      </p>

      <script type="text/javascript">
      //console.log(psiTurk.getInstructionIndicator())
      </script>

  </div>

  <hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
